layout {

    tab name="$HOME" cwd="$HOME" hide_floating_panes=true {
        floating_panes {
            pane x="6%" y="3%" width="88%" height="88%" cwd="$HOME" command="bash"
        }

        pane command="bash"
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="$PWD" hide_floating_panes=true {
        floating_panes {
            pane x="6%" y="3%" width="88%" height="88%" command="lazygit"
        }
        pane split_direction="vertical" {
            pane size="65%" name="EDITOR" command="bash" {
                args "-c" "bash --rcfile <(cat ~/.bashrc; echo 'source .venv/bin/activate';)"
            }
            pane split_direction="horizontal" {
                pane name="WORK#1" size="45%" command="bash" {
                    args "-c" "bash --rcfile <(cat ~/.bashrc; echo 'source .venv/bin/activate';)"
                }
                pane name="WORK#2" size="45%" command="bash" {
                    args "-c" "bash --rcfile <(cat ~/.bashrc; echo 'source .venv/bin/activate';)"
                }
                pane name="SERVER" size="10%" {
                    command "python"
                    args "-m" "http.server" "8000"
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

}

